body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
/*	background-color: #D7F2F1;*/
	background-color: #FFF;
	font-size: 1.5em;
}
button {
	cursor: pointer;
	font-size: .25em;
	margin: 1%;
	margin-top: 2.5%;
}
button:active {
	background-color: #ED8702;
	box-shadow: 1px 1px 1px 0px;
	position: relative;
	bottom: 8%;
	left: 1%;
}
footer {
	background-color: #FFF;
	height: 10%;
	padding-top: 1.5%;
}

header {
	background-color: #FFF;
	padding: 0.25%;
	margin: 1%;
}
h1 {
	font-size: 3em;
	margin: 1%;
}
input {
	display: inline;
	font-size: .25em;
}

p {
	color: #FF9900;
	font-size: 0.5em;
}
#game {
	font-size: 2em;
	margin: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}
#game-info {
	background-color: #99C2CC;
	padding-bottom: 11%;
	padding-top: 2%;
}
#modal-name, #modal-winner-o, #modal-winner-x {
	background-color: #99C2CC;
	box-shadow: 5px 5px 5px 0px #3299BB;
	font-size: 5em;
	height: 60%;
	opacity: 0.98;
	padding-top: 8%;
	position: absolute;
	bottom: 20%;
	right: 15%;
	width: 75%;
}
#player1, #player2, #reset, #start, button {
	background-color: #ED8702;
	color:#FFF;
  box-shadow: 3px 3px 3px 0px;
  padding: 1%;
}
#reset {
  margin-left: 41%;
  width: 15%;
  padding-bottom: 1%;
}
/*#reset:active {
	box-shadow: 1px 1px 1px 0px;
	float: left;
	position: relative;
	top: 2%;
}*/

#start, #reset {
	margin-top: 0.5%;
	cursor: pointer;
}
#start:active {
  box-shadow: 1px 1px 1px 0px;
  float: left;
  position: relative;
  top: 2px;
  right: -2px;
}
.column-four:hover, #player1:hover, #player2:hover, #reset:hover, #start:hover {
	background-color: #ED8702;
}
.column-four {
	background-color: #F2E4AA;
	float: left;
	position: relative;
	left: 18%;
	height: 10%;
	margin: 0.5%;
	width: 10%;
	padding-bottom: 1.5%;
	padding-top: 4.5%;
	padding-left: 5%;
	padding-right: 5%;
}
.hidden {
	display: none;
}
.row {
	background-color: #D7F2F1;
	clear: both;
}